<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h2>Password Reset</h2>
    <p>Hello <%= name %>,</p>
    <p>Click <a href="<%= resetLink %>">here</a> to reset your password.</p>
  </body>
</html>
